@tailwind base;
@tailwind components;

/* for left part of intro */
@screen xl{
  .intro-left-xl-and-beyond{
    @apply flex bg-rose-600 rounded-full w-[700px] h-[700px] items-end justify-center float-left py-6 my-60;
  }
  

  
}

@screen sm{
  .intro-left-xl-and-beyond{
    @apply flex bg-rose-600 rounded-full w-[300px] h-[300px] items-end justify-center float-left py-6 my-60;
  }
}

@screen md{
  .intro-left-xl-and-beyond{
    @apply flex bg-rose-600 rounded-full w-[400px] h-[400px] items-end justify-center float-left py-6 my-60;
  }
}

@screen lg{
  .intro-left-xl-and-beyond{
    @apply flex bg-rose-600 rounded-full w-[500px] h-[500px] items-end justify-center float-left py-6 my-60;
  }
}

@tailwind utilities;


@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
